### S02T03 - Identificar e tratar dados faltantes

In [3]:
import pandas as pd

In [19]:
df = pd.read_csv("depression_dataset.csv")
df.head(15)

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Pooja,Female,37,Ghaziabad,Working Professional,Teacher,NaN,2.0,NaN,NaN,4.0,7-8 hours,Moderate,MA,No,6,2,No,No
1,Reyansh,Male,60,Kalyan,Working Professional,Financial Analyst,NaN,4.0,NaN,NaN,3.0,5-6 hours,Unhealthy,B.Com,Yes,0,4,Yes,No
2,Manvi,Female,42,Bhopal,Working Professional,Teacher,NaN,2.0,NaN,NaN,3.0,5-6 hours,Moderate,M.Com,No,0,2,No,No
3,Isha,Female,44,Thane,Working Professional,Teacher,NaN,3.0,NaN,NaN,5.0,7-8 hours,Healthy,MD,Yes,1,2,Yes,No
4,Aarav,Male,48,Indore,Working Professional,UX/UI Designer,NaN,4.0,NaN,NaN,3.0,7-8 hours,Moderate,BE,Yes,6,5,Yes,No
5,Sanya,Female,60,Bhopal,Working Professional,Civil Engineer,NaN,1.0,NaN,NaN,4.0,7-8 hours,Unhealthy,MCA,Yes,12,3,Yes,No
6,Zara,Female,30,Pune,Working Professional,Accountant,NaN,4.0,NaN,NaN,2.0,More than 8 hours,Healthy,M.Com,No,3,1,No,No
7,Kiran,Male,30,Bangalore,Working Professional,Teacher,NaN,1.0,NaN,NaN,2.0,More than 8 hours,Unhealthy,BA,Yes,6,1,No,No
8,Kush,Male,56,Hyderabad,Working Professional,Lawyer,NaN,1.0,NaN,NaN,2.0,More than 8 hours,Moderate,LLM,Yes,11,5,Yes,No
9,Damini,Female,35,Srinagar,Working Professional,Content Writer,NaN,3.0,NaN,NaN,4.0,Less than 5 hours,Moderate,BCA,No,6,4,Yes,No
10,Rudransh,Male,21,Nashik,Working Professional,NaN,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,Class 12,No,6,1,Yes,No
11,Pratham,Male,57,Pune,Working Professional,Content Writer,NaN,1.0,NaN,NaN,2.0,Less than 5 hours,Healthy,B.Ed,No,10,1,No,No
12,Raghavendra,Male,54,Kolkata,Working Professional,Pilot,NaN,3.0,NaN,NaN,2.0,7-8 hours,Healthy,M.Tech,No,11,4,No,No
13,Siddharth,Male,51,Kalyan,Working Professional,Customer Support,NaN,2.0,NaN,NaN,3.0,Less than 5 hours,Healthy,BA,No,8,5,No,No
14,Rahil,Male,18,Ahmedabad,Working Professional,NaN,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Unhealthy,Class 12,Yes,7,3,No,Yes

In [5]:
df.isnull().sum()

Name                                        0
Gender                                      0
Age                                         0
City                                        0
Working Professional or Student             0
Profession                                673
Academic Pressure                        2054
Work Pressure                             502
CGPA                                     2054
Study Satisfaction                       2054
Job Satisfaction                          502
Sleep Duration                              0
Dietary Habits                              0
Degree                                      0
Have you ever had suicidal thoughts ?       0
Work/Study Hours                            0
Financial Stress                            0
Family History of Mental Illness            0
Depression                                  0
dtype: int64

In [20]:
df[['CGPA', 'Study Satisfaction', 'Academic Pressure', 'Work Pressure', 'Job Satisfaction']] = df[['CGPA', 'Study Satisfaction', 'Academic Pressure', 'Work Pressure', 'Job Satisfaction']].fillna(0)
df['Profession'] = df['Profession'].fillna('None')
df.isnull().sum()

Name                                     0
Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [22]:
df.to_csv('depression_dataset_treated.csv')